@page
@model Bookstore.Pages.ConfirmationModel
@{
}

<div class="text-center">
    <h2>Thank you for your purchase, please check your email for your receipt and order confirmation.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>